<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Insert title here</title>
</head>
<body>
<h1 th:text="${title}">title</h1>
<!--表にして並べる-->

<table>
    <tr>
        <th>id</th> <th>年齢</th> <th>メールアドレス</th> <th>お問い合わせ番号</th> <th>お問い合わせ日時</th>
    </tr>
    <!--getAllされてinquiryListとして飛ばされてきたlistの中身をinquiryとして吐き出す-->
    <tr th:each="inquiry : ${inquiryList}">
        <td th:text="${inquiry.id}">i　　</td>
        <td th:text="${inquiry.name}">name</td>
        <td th:text="${inquiry.email}">email</td>
        <td th:text="${inquiry.contents}">contents</td>
        <td th:text="${inquiry.created}">created</td>
    </tr>
</table>
</body>
</html>
